body{
    background-color: lightgreen;
    
}
#move-list{
    color:white;
    float: left;
}
#board{
    width: 550px;
    height: 550px;
    float:left;
}
.row{
    width: 100%;
    height: 12.5%;
}
.square{
    float: left;
    margin: 0px;
    width: 12.5%;
    height: 100%;
}
.odd-row :nth-child(odd){
    background-color: black;
}
.odd-row :nth-child(even){
    background-color: white;
}
.even-row :nth-child(odd){
    background-color: white;
}
.even-row :nth-child(even){
    background-color: black;
}
